<section class="flex flex-col gap-5">
@if (movieId$ | async; as movie) {
<div  class="flex flex-col gap-10">
    <div class="w-full">
        <img [src]="'https://image.tmdb.org/t/p/original/' + movie.backdrop_path" class="w-full">
    </div>
    @if (movie.backdrop_path) {
        <p  class="ml-7 absolute text-[#FFD700] top-[20%] font-semibold z-50 md:text-3xl md:top-[25%] lg:text-6xl lg:top-[50%]">{{ movie.title }} - {{movie.vote_average}} / 10</p>
    }
    <div class="flex flex-col gap-5 mx-7 lg:flex-row">
        <img class="w-[236px] self-center h-[300px] rounded-[5px]" [src]="'https://image.tmdb.org/t/p/original/' +  movie.poster_path" [alt]="movie.title">
        <div class="flex flex-col gap-2 self-center">
            <span class="text-[#FFD700] flex gap-3 text-sm md:text-base lg:text-lg">
               <strong class="capitalize">popularity:</strong>{{movie.popularity}}</span>
            <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Release Date: </strong> {{movie.release_date  | date: "dd.MM.yyyy" }}</span>
            <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Overview:</strong> {{movie.overview}}</span>
            <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Language:</strong> {{ movie.original_language | uppercase }}</span>
            <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Revenue:</strong> {{ movie.revenue | currency }}</span>
            <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Duration:</strong> {{ movie.runtime }} min</span>
            <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Status:</strong> {{ movie.status }}</span>
    <div class="flex gap-3">
                    <strong class="capitalize text-[#FFD700] text-sm md:text-base lg:text-lg whitespace-nowrap">Genres:</strong>
                    <div class="flex flex-wrap gap-3">
                        @for (genre of movie.genres; track $index) {
                        <span class="text-[#FFD700] text-lg"> {{
                            genre.name
                          }}</span>      
                    }
                        </div>
                    </div>
            </div>  
    </div>
</div>
}
<div class="flex flex-col gap-10">
<h1 class="text-yellow-300 font-bold ml-7 text-sm md:text-2xl lg:text-4xl">Top Cast</h1>
@if (movieCredits$ | async; as credits) {
    <div class="flex gap-10  overflow-x-scroll no-scrollbar mx-7">
        @for (credit of credits.cast; track credit.name) {
                <div class="md:w-[48px] lg:w-[72px]">
                    <img class="!w-[72px]" [src]="'https://image.tmdb.org/t/p/original/' + credit.profile_path">
                    <p class="text-yellow-300 md:text-sm lg:text-lg">{{ credit.name }}</p>
                </div>
        }

    </div>
}

  <div class="grid grid-cols-1 lg:grid-cols-2 mx-7 gap-3">
    @for (video of movieVideo$ | async; track video.key) {
        <app-video [key]="video.key" [site]="video.site"></app-video>
    }
  </div>
  </div>
</section>