<section class="flex flex-col gap-5 mb-5 overflow-x-hidden">
    @if (TvId$ | async; as tv) {
    <div class="flex flex-col gap-10">
        <div class="w-full">
            <img [src]="'https://image.tmdb.org/t/p/original/' + tv.backdrop_path" class="w-ful">
        </div>
        @if (tv.backdrop_path) {
            <p class="ml-7 lg:text-6xl absolute text-xl top-[20%] md:text-3xl md:top-[25%] lg:top-[50%] text-[#FFD700] font-semibold z-50">{{ tv.name }} - {{tv.vote_average}} / 10</p>
        }
        <div class="flex flex-col gap-5 mx-7 lg:flex-row">
            <img class="w-[236px] self-center h-[300px] rounded-[5px]" [src]="'https://image.tmdb.org/t/p/original/' +  tv.poster_path" [alt]="tv.name">
            <div class="flex flex-col gap-2 self-center">
                <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3">
                   <strong class="capitalize">popularity:</strong>{{tv.popularity}}</span>
                <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Release Date: </strong> {{tv.release_date  | date: "dd.MM.yyyy" }}</span>
                <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Overview:</strong> {{tv.overview}}</span>
                <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Language:</strong> {{ tv.original_language | uppercase }}</span>
                <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Revenue:</strong> {{ tv.revenue | currency }}</span>
                <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Duration:</strong> {{ tv.runtime }} min</span>
                <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Status:</strong> {{ tv.status }}</span>
                <span class="text-[#FFD700] text-sm md:text-base lg:text-lg flex gap-3"><strong class="capitalize">Tagline:</strong> {{ tv.tagline }}</span>
                <div class="flex gap-3">
                    <strong class="capitalize text-sm text-[#FFD700] md:text-base lg:text-lg whitespace-nowrap">seasons:</strong>
                    <div class="flex flex-wrap gap-3">
                        @for (season of tv.seasons; track season.name) {
                        <span class="text-[#FFD700] text-sm lg:text-lg"> {{
                            season.name
                          }}</span>
                    }
                        </div>
                    </div>
                <div class="flex gap-3">
                <strong class="capitalize text-sm text-[#FFD700] md:text-base lg:text-lg whitespace-nowrap">Air Date:</strong>
                <div class="flex flex-wrap gap-3">
                    @for (season of tv.seasons; track season.air_date) {
                    <span class="text-[#FFD700] text-sm lg:text-lg"> {{
                        season.air_date | date: "MM.yyyy"
                      }}</span>
                }
                    </div>
                </div>
                <div class="flex gap-3">
                    <strong class="capitalize text-sm text-[#FFD700] md:text-base lg:text-lg">Created By:</strong>
                    <div class="flex gap-3">
                        @for (cast of tv.created_by; track cast.name) {
                        <span class="text-[#FFD700] text-sm lg:text-lg"> {{
                            cast.name
                          }}</span>
                }
                    </div>
                   </div>
                   <div class="flex gap-3">
                    <strong class="capitalize text-sm text-[#FFD700] md:text-base lg:text-lg whitespace-nowrap">Genres:</strong>
                    <div class="flex flex-wrap gap-3">
                        @for (genre of tv.genres; track genre.name) {
                        <span class="text-[#FFD700] text-sm lg:text-lg"> {{
                            tv.name
                          }}</span>
                    }
                        </div>
                    </div>
               </div>        
            </div>
        </div>
    }
        <h1 class="text-yellow-300 text-sm md:text-2xl lg:text-4xl font-bold ml-7">Top Cast</h1>
        @if (tvCredits | async; as credits) {
        <div class="flex gap-10 overflow-x-scroll no-scrollbar mx-7">
            @for (credit of credits.cast; track credit.name) {
                <div class="w-[40px] md:w-[50px] lg:!w-[72px]">
                    <img class="" [src]="'https://image.tmdb.org/t/p/original/' + credit.profile_path">
                    <p class="text-yellow-300 md:text-sm lg:text-lg">{{ credit.name }}</p>
                </div>
        }
          </div>
        }
          <div class="grid grid-cols-1 lg:grid-cols-2 mx-7 gap-3">
            @for (video of tvVideos$ | async; track video.key) {
                <app-video [key]="video.key" [site]="video.site"></app-video>
            }
            </div>
    </section>