<section class="flex flex-col gap-5 mb-5 overflow-x-hidden">
    <div *ngIf="TvId$ | async as tv" class="flex flex-col gap-10">
        <div class="w-full">
            <img [src]="'https://image.tmdb.org/t/p/original/' + tv.backdrop_path" class="w-ful">
        </div>
        <p *ngIf="tv.backdrop_path" class="ml-7 text-6xl absolute top-[50%] text-[#FFD700] font-semibold z-50">{{ tv.name }} - {{tv.vote_average}} / 10</p>
        <div class="flex gap-5 mx-7">
            <img class="w-[236px] h-[300px] rounded-[5px]" [src]="'https://image.tmdb.org/t/p/original/' +  tv.poster_path" [alt]="tv.name">
            <div class="flex flex-col gap-2 self-center">
                <span class="text-[#FFD700] text-lg flex gap-3">
                   <strong class="capitalize">popularity:</strong>{{tv.popularity}}</span>
                <span class="text-[#FFD700] text-lg flex gap-3"><strong class="capitalize">Release Date: </strong> {{tv.release_date  | date: "dd.MM.yyyy" }}</span>
                <span class="text-[#FFD700] text-lg flex gap-3"><strong class="capitalize">Overview:</strong> {{tv.overview}}</span>
                <span class="text-[#FFD700] text-lg flex gap-3"><strong class="capitalize">Language:</strong> {{ tv.original_language | uppercase }}</span>
                <span class="text-[#FFD700] text-lg flex gap-3"><strong class="capitalize">Revenue:</strong> {{ tv.revenue | currency }}</span>
                <span class="text-[#FFD700] text-lg flex gap-3"><strong class="capitalize">Duration:</strong> {{ tv.runtime }} min</span>
                <span class="text-[#FFD700] text-lg flex gap-3"><strong class="capitalize">Status:</strong> {{ tv.status }}</span>
               <div class="flex gap-3">
                <strong class="capitalize text-[#FFD700] text-lg whitespace-nowrap">Air Date:</strong>
                <div class="flex gap-3">
                <div *ngFor="let season of tv.seasons">
                    <span class="text-[#FFD700] text-lg"> {{
                        season.air_date | date: "MM.yyyy"
                      }}</span>
                    </div>
                    </div>
                </div>
                <div class="flex gap-3">
                    <strong class="capitalize text-[#FFD700] text-lg">Created By:</strong>
                    <div class="flex gap-3">
                    <div *ngFor="let cast of tv.created_by">
                        <span class="text-[#FFD700] text-lg"> {{
                            cast.name
                          }}</span>
                    </div>
                    </div>
                   </div>
               </div>        
            </div>
        </div>
        <div *ngIf="tvCredits | async as credits" class="flex gap-5 overflow-x-scroll no-scrollbar mx-7">
            <div *ngFor="let credit of credits.cast">
                <div class="!w-[72px]">
                    <img class="" [src]="'https://image.tmdb.org/t/p/original/' + credit.profile_path">
                    <p class="text-yellow-300 text-lg">{{ credit.name }}</p>
                </div>
            </div>
          </div>
    </section>