<div class="flex flex-col gap-5">
        <div class="bg-[#212121] pt-2 px-2 pb-6 cursor-pointer rounded-[5px] border-[#999] min-h-[300px] transition-transform transform hover:scale-105 hover:bg-gray-900">
            <img class="w-[436px] lg:w-[236px] h-[300px]" [src]="'https://image.tmdb.org/t/p/original/' + image" [alt]="title">
            <div>
                <span class="text-white text-sm">{{rating}} / 10 ⭐</span>
                <h2 class="text-white text-lg overflow-hidden whitespace-nowrap overflow-ellipsis">{{title}}</h2>
            </div>
    </div>
</div>
