

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .image-container {
        @apply relative overflow-hidden
      }
      
      .image-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%; /* Adjust this value based on your preference for the gradient coverage */
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        z-index: 1;
      }
     
      .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}