<div class="flex flex-col gap-5">
<!-- slider -->
<section class="flex overflow-x-scroll no-scrollbar">
  <div *ngFor="let movie of item$ | async" class="relative overflow-hidden  min-w-full image-container">
    <img [src]="'https://image.tmdb.org/t/p/original/' + movie.backdrop_path" alt="" class="w-full">
    <p class="ml-7 text-6xl absolute top-[50%] text-[#FFD700] font-semibold z-50">{{ movie.title }} - {{movie.vote_average}} / 10</p>
  </div>
</section>
<!-- movie list -->
<div class="flex flex-col gap-3 mx-7">
<h1 class="text-[#FFD700] text-4xl font-bold">Top Rated Movies</h1>
<div class="grid grid-cols-5 gap-3">
<div *ngFor="let movie of movie$ | async">
  <app-movie-card [title]="movie.title" [image]="movie.poster_path" [rating]="movie.vote_average" [routerLink]="['/movie', + movie.id]"></app-movie-card>
</div>
</div>
<button class="flex justify-start items-start self-end text-white hover:text-yellow-300 hover:underline hover:transition-all duration-600" (click)="loadMore()">See more &rarr;</button>
</div>
</div>