<div class="mx-7 flex flex-col gap-10">
    <!-- Movies Genres -->
<section class="flex flex-col gap-4">
    <h2 class="text-yellow-300 font-medium text-2xl">Movie Genres</h2>
    <div class="flex flex-wrap gap-4">
            @for (genre of movieGenres$ |async; track $index) {
                <button class="w-[236px] text-black bg-yellow-300 py-3 px-5 rounded-md hover:bg-transparent hover:text-yellow-300 hover:border hover:border-yellow-300"  [routerLink]="['/movies/']"
                [queryParams]="{ genreId: genre.id, q:genre.name}" queryParamsHandling="merge">{{ genre.name }}</button>
            }
    </div>
</section>

<!-- Tv genres -->
<section class="flex flex-col gap-4">
    <h2 class="text-yellow-300 font-medium text-2xl">Tv Genres</h2>
    <div class="flex flex-wrap gap-4">
            @for (genre of TvGenres$ | async; track $index) {
                <button class="w-[236px] text-black bg-yellow-300 py-3 px-5 rounded-md hover:bg-transparent hover:text-yellow-300 hover:border hover:border-yellow-300">{{ genre.name }}</button>
            }
    </div>
</section>
</div>


 